.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    background-color: #fff;
    padding: 10px 0px;
  }
  
  .hamburger {
    display: none;
  }
  
  .navbar-start {
    font-family: "Rubik", serif;
    margin-left: 20px;
    font-size: 1.7em;
    color: #000;
  }
  .navbar-start p {
    margin: 0;
  }
  .navbar-start a {
    text-decoration: none;
    color: #000;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
  }
  .navbar-links a {
    text-decoration: none;
    font-weight: 600;
    font-family: "Rubik", serif;
    color: #ff7f29;
  }
  .navbar-links a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
  }
  
  .navbar-btn {
    margin-right: 20px;
  }
  .navbar-btn button {
    padding: 0.8em;
    font-size: 0.9em;
    font-weight: 500;
    font-family: "JetBrains Mono", serif;
    cursor: pointer;
    border: none;
    border-radius: 0.6em;
    color: #fff;
    padding-right: 1.2em;
    padding-left: 1.2em;
    background-color: #ff7f29;
    transition: transform 0.2s ease;
  }
  .navbar-btn button:active {
    transform: scale(0.96);
  }
  
  @media (max-width: 768px) {
    .navbar-links {
      position: absolute;
      display: none;
      top: 49px;
      left: 0;
      right: 0;
      height: 92.5vh;
      margin: 0;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      padding: 0;
      background-color: #000;
      gap: 0;
      overflow: hidden;
      transform: translateY(2%);
      transition: all 0.5s ease;
    }

    .active{
      display: block;
    }
    .navbar-links li {
      padding: 20px;
    }
    .navbar-links a {
      color: #fff;
    }
    .navbar-btn {
      display: none;
    }
    .hamburger {
      display: block;
      margin-right: 20px;
    }
  }
  .home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    min-height: 100vh;
  }
  .home h1 {
    font-size: 3.5em;
    margin-left: 30px;
    margin-bottom: 0;
    color: #8b4513;
    font-family: "Rubik", serif;
    transition: all 0.5s ease;
  }
  .home p {
    font-size: 2em;
    font-family: "Rubik", serif;
    font-weight: 300;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
  }
  .home img {
    height: 450px;
    width: 450px;
    margin-right: 30px;
  }
  
  .home-content {
    max-width: 800px;
  }
  .home-content button {
    padding: 0.8em;
    font-size: 0.9em;
    font-weight: 500;
    font-family: "JetBrains Mono", serif;
    cursor: pointer;
    border: none;
    margin-left: 30px;
    border-radius: 0.6em;
    color: #fff;
    padding-right: 1.2em;
    padding-left: 1.2em;
    background-color: #ff7f29;
    transition: transform 0.2s ease;
  }
  .home-content button:active {
    transform: scale(0.96);
  }
  
  @media (max-width: 768px) {
    .home {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .home h1 {
      font-size: 2.6em;
      margin-left: 0;
    }
    .home p {
      font-size: 1.2em;
      font-weight: 390;
      margin-left: 20px;
      margin-right: 20px;
      font-family: "Rubik", serif;
    }
    .home img {
      display: none;
    }
    .home-content button {
      margin-left: 0;
    }
  }
  .about-content {
    display: flex;
    align-items: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .about-content img {
    margin-left: 30px;
    width: 400px;
    border-radius: 8px;
  }
  
  .about-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 50%;
    height: 600px;
  }
  
  .about-text h1 {
    font-size: 3em;
    color: #000;
    font-family: "Rubik", serif;
  }
  .about-text p {
    font-size: 1.2em;
    font-family: "Rubik", serif;
    font-weight: 500;
    margin: 0;
    margin-bottom: 60px;
  }
  
  @media (max-width: 768px) {
    .about-content {
      flex-direction: column;
      height: calc(100vh + 62.4px);
    }
    .about-content img {
      margin-left: 0;
      min-height: 400px;
      width: 20rem;
    }
    .about-text {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      width: 80vw;
    }
    .about-text h1 {
      font-size: 2em;
    }
    .about-text p {
      font-size: 1em;
      font-weight: 390;
      margin: 0;
    }
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
  }
  .menu h1 {
    font-size: 3em;
    color: #000;
    font-family: "Rubik", serif;
  }
  
  .wrapper {
    display: flex;
    flex-direction: row;
  }
  
  .cards {
    display: flex;
    flex-direction: column;
    margin: 20px;
    min-height: 48vh;
    border-radius: 8px;
    background-color: white;
    text-align: center;
    box-shadow: 8px 8px 0px rgba(255, 127, 80, 0.814);
  }
  .cards img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 300px;
  }
  
  .cards:hover {
    transform: translate(-3px, -3px);
    box-shadow: 8px 8px 0px coral;
    transition: transform 0.3s !important;
  }
  
  .description h2 {
    margin-bottom: 0;
    font-weight: 500;
    font-family: "Rubik", sans-serif;
  }
  .description p {
    margin: 0;
    font-family: "Rubik", sans-serif;
  }
  .description button {
    margin-top: 20px;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    border: none;
    background-color: black;
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: large;
    cursor: pointer;
  }
  .description button:active {
    transition: transform 0.2s ease;
    transform: scale(0.96);
  }
  
  @media (max-width: 768px) {
    .wrapper {
      flex-direction: column;
    }
    .menu h1 {
      font-size: 2em;
    }
  }
  .testimonials {
    padding-bottom: 50px;
  }
  .testimonials h1 {
    text-align: center;
    font-size: 2.3em;
    color: #000;
    font-family: "Rubik", serif;
  }
  
  .r-card {
    width: 40vw;
    background-color: white;
    border-radius: 8px;
    margin: 20px;
  }
  .r-card .right {
    margin: auto;
    margin-right: 5%;
  }
  
  .r-card:hover {
    cursor: pointer;
  }
  
  .reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .reviews h1 {
    font-size: 3em;
    color: #000;
    font-family: "Rubik", serif;
  }
  
  .pfp {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
  }
  
  .description {
    padding: 20px;
  }
  
  @media (max-width: 768px) {
    .reviews {
      flex-direction: column;
    }
    .testimonials h1 {
      font-size: 1.8em;
    }
    .r-card {
      width: 89vw;
      margin: auto;
      margin-bottom: 15px;
    }
    .r-card .right {
      margin-right: 0;
      display: flex;
      flex-direction: row;
    }
  }
  .reservations {
    padding: 50px;
  }
  .reservations h1 {
    text-align: center;
    font-size: 2.3em;
    color: #000;
    font-family: "Rubik", serif;
  }
  .reservations button {
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    border: none;
    background-color: black;
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: large;
    cursor: pointer;
  }
  .reservations button:active {
    transition: transform 0.2s ease;
    transform: scale(0.96);
  }
  
  #form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .info {
    display: flex;
    flex-direction: column;
  }
  .info label {
    margin-left: 1%;
    font-family: "Rubik", serif;
  }
  .info input {
    width: 35vw;
    padding: 13px;
    border: none;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    outline: none;
    transition: border-color 0.3s ease;
    font-family: "Rubik", serif;
  }
  .info input:focus {
    border-bottom: 2px solid coral;
  }
  
  @media (max-width: 768px) {
    .info input {
      width: 75vw;
    }
    .reservations {
      padding: 0;
      padding-bottom: 50px;
    }
  }
  footer {
    background-color: black;
    color: #fff;
    padding: 12px;
    text-align: center;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: rgba(255, 127, 80, 0.227);
  }
  
  .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translate(-100%);
    transition: all 1s;
  }
  
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
  }
  
  .cards:nth-child(2) {
    transition-delay: 200ms;
  }
  
  .cards:nth-child(3) {
    transition-delay: 400ms;
  }
  
  .cards:nth-child(4) {
    transition-delay: 600ms;
  }
  
  .r-card:nth-child(2) {
    transition-delay: 200ms;
  }
  
  .r-card:nth-child(3) {
    transition-delay: 400ms;
  }
  
  .r-card:nth-child(4) {
    transition-delay: 600ms;
  }
  
  @media (max-width: 768px) {
    .cards:nth-child(2) {
      transition-delay: 0ms;
    }
    .cards:nth-child(3) {
      transition-delay: 0ms;
    }
    .cards:nth-child(4) {
      transition-delay: 0ms;
    }
    .r-card:nth-child(2) {
      transition-delay: 0ms;
    }
    .r-card:nth-child(3) {
      transition-delay: 0ms;
    }
    .r-card:nth-child(4) {
      transition-delay: 0ms;
    }
  }
  html {
    scroll-behavior: smooth;
  }/*# sourceMappingURL=main.css.map */